
.icon-user:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-cancel-squared:before { content: '\e804'; } /* '' */
.icon-plus-squared:before { content: '\e805'; } /* '' */
.icon-minus-squared:before { content: '\e806'; } /* '' */
.icon-right-dir:before { content: '\e807'; } /* '' */
.icon-left-dir:before { content: '\e808'; } /* '' */
.icon-down-bold:before { content: '\e809'; } /* '' */
.icon-lock:before { content: '\e80a'; } /* '' */
.icon-lock-open:before { content: '\e80b'; } /* '' */
.icon-cancel:before { content: '\e80c'; } /* '' */
.icon-block:before { content: '\e80d'; } /* '' */
.icon-user-add:before { content: '\e80e'; } /* '' */
.icon-check:before { content: '\e80f'; } /* '' */